In [1]:
from pathlib import Path
import pandas as pd
import duckdb

### Storage & Organization

In [2]:
# 1. Project root
PROJECT_ROOT = Path(r"C:\Users\ycjia\OneDrive\Desktop\IS-477-Project")

# 2. File paths
epa_csv_path = PROJECT_ROOT / "data" / "raw" / "epa" / "daily_88101_2023" / "daily_88101_2023.csv"
weather_csv_path = PROJECT_ROOT / "data" / "raw" / "noaa" / "open_meteo_chicago_2023_daily.csv"

epa_csv_path, weather_csv_path

(WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/raw/epa/daily_88101_2023/daily_88101_2023.csv'),
 WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/raw/noaa/open_meteo_chicago_2023_daily.csv'))

In [3]:
epa_df = pd.read_csv(epa_csv_path)

print("EPA shape:", epa_df.shape)
print("EPA columns:")
print(epa_df.columns.tolist())

epa_df.head()

EPA shape: (847057, 29)
EPA columns:
['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration', 'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type', 'Observation Count', 'Observation Percent', 'Arithmetic Mean', '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name', 'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name', 'CBSA Name', 'Date of Last Change']

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,NaN,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
1,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,NaN,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
2,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,NaN,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
3,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,NaN,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
4,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,NaN,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06

In [4]:
weather_df = pd.read_csv(weather_csv_path)

print("Weather shape:", weather_df.shape)
print("Weather columns:")
print(weather_df.columns.tolist())

weather_df.head()

Weather shape: (365, 8)
Weather columns:
['date', 'temperature_2m_max', 'temperature_2m_min', 'wind_direction_10m_dominant', 'precipitation_sum', 'shortwave_radiation_sum', 'relative_humidity_2m_mean', 'wind_speed_10m_max']

,date,temperature_2m_max,temperature_2m_min,wind_direction_10m_dominant,precipitation_sum,shortwave_radiation_sum,relative_humidity_2m_mean,wind_speed_10m_max
0,2023-01-01,8.5,0.6,227,3.3,7.02,92,17.1
1,2023-01-02,4.6,-0.4,35,0.3,4.73,97,18.1
2,2023-01-03,12.7,4.2,112,13.1,2.13,98,23.6
3,2023-01-04,7.2,0.2,232,0.0,3.29,86,23.0
4,2023-01-05,0.9,-0.4,240,1.3,2.61,84,21.3

In [5]:
PROJECT_ROOT = Path(r"C:\Users\ycjia\OneDrive\Desktop\IS-477-Project")

# create duckdb database
db_dir = PROJECT_ROOT / "data" / "db"
db_dir.mkdir(parents=True, exist_ok=True)
# connect to duckdb database file
db_path = db_dir / "project.duckdb"
# connect to duckdb
con = duckdb.connect(str(db_path))

db_path

WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/db/project.duckdb')

In [6]:
# files paths
epa_csv_path = PROJECT_ROOT / "data" / "raw" / "epa" / "daily_88101_2023" / "daily_88101_2023.csv"
weather_csv_path = PROJECT_ROOT / "data" / "raw" / "noaa" / "open_meteo_chicago_2023_daily.csv"

epa_csv_path, weather_csv_path

(WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/raw/epa/daily_88101_2023/daily_88101_2023.csv'),
 WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/raw/noaa/open_meteo_chicago_2023_daily.csv'))

In [7]:
# Create EPA
con.execute("""
    CREATE OR REPLACE TABLE epa_raw AS
    SELECT * FROM read_csv_auto($epa)
""", {"epa": str(epa_csv_path)})

# Weather table
con.execute("""
    CREATE OR REPLACE TABLE weather_raw AS
    SELECT * FROM read_csv_auto($weather)
""", {"weather": str(weather_csv_path)})

# check tables exist
con.execute("SHOW TABLES;").fetchall()

[('chicago_pm25_weather_daily',),
 ('epa_chicago_daily',),
 ('epa_raw',),
 ('weather_chicago_daily',),
 ('weather_raw',)]

In [8]:
# Row counts to make sure data loaded
print("EPA rows:", con.execute("SELECT COUNT(*) FROM epa_raw;").fetchone()[0])
print("Weather rows:", con.execute("SELECT COUNT(*) FROM weather_raw;").fetchone()[0])

EPA rows: 847057
Weather rows: 365

In [9]:
# quick check for weather
con.execute("SELECT * FROM weather_raw LIMIT 5;").df()

,date,temperature_2m_max,temperature_2m_min,wind_direction_10m_dominant,precipitation_sum,shortwave_radiation_sum,relative_humidity_2m_mean,wind_speed_10m_max
0,2023-01-01,8.5,0.6,227,3.3,7.02,92,17.1
1,2023-01-02,4.6,-0.4,35,0.3,4.73,97,18.1
2,2023-01-03,12.7,4.2,112,13.1,2.13,98,23.6
3,2023-01-04,7.2,0.2,232,0.0,3.29,86,23.0
4,2023-01-05,0.9,-0.4,240,1.3,2.61,84,21.3

In [10]:
# qick check for epa
con.execute("SELECT * FROM epa_raw LIMIT 5;").df()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,01,003,0010,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,<NA>,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
1,01,003,0010,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,<NA>,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
2,01,003,0010,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,<NA>,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
3,01,003,0010,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,<NA>,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06
4,01,003,0010,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,<NA>,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-08-06

### Extraction & Cleaning

In [11]:
PROJECT_ROOT = Path(r"C:\Users\ycjia\OneDrive\Desktop\IS-477-Project")

processed_dir = PROJECT_ROOT / "data" / "processed"
processed_dir.mkdir(parents=True, exist_ok=True)

processed_dir

WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/processed')

In [12]:
# EPA data cleaning for Chicago PM2.5 daily summary
epa_csv_path = PROJECT_ROOT / "data" / "raw" / "epa" / "daily_88101_2023" / "daily_88101_2023.csv"

con.execute(f"""
    CREATE OR REPLACE TABLE epa_raw AS
    SELECT *
    FROM read_csv_auto('{epa_csv_path.as_posix()}', header = TRUE);
""")

con.execute("""
    CREATE OR REPLACE TABLE epa_chicago_daily AS
    SELECT
        CAST("Date Local" AS DATE)     AS date,
        AVG("Arithmetic Mean")         AS pm25_mean,
        MIN("Arithmetic Mean")         AS pm25_min,
        MAX("Arithmetic Mean")         AS pm25_max,
        COUNT(*)                       AS n_measurements
    FROM epa_raw
    WHERE "City Name" = 'Chicago'
      AND "Parameter Code" = 88101
    GROUP BY date
    ORDER BY date;
""")

print(con.execute("SELECT COUNT(*) FROM epa_chicago_daily;").fetchall())
con.execute("SELECT * FROM epa_chicago_daily LIMIT 5;").df()

[(128,)]

        date  pm25_mean  pm25_min  pm25_max  n_measurements
0 2023-01-03      6.700       6.5       6.9               2
1 2023-01-06      9.625       8.2      11.2               4
2 2023-01-09     20.250      20.0      20.5               2
3 2023-01-12     11.225      10.7      11.6               4
4 2023-01-15      7.850       7.8       7.9               2

In [13]:
# Weather data cleaning for Chicago daily summary
weather_csv_path = PROJECT_ROOT / "data" / "raw" / "noaa" / "open_meteo_chicago_2023_daily.csv"

con.execute(f"""
    CREATE OR REPLACE TABLE weather_chicago_daily AS
    SELECT
        CAST(date AS DATE)                    AS date,
        temperature_2m_max                    AS temp_max,
        temperature_2m_min                    AS temp_min,
        wind_direction_10m_dominant           AS wind_dir_dominant,
        precipitation_sum                     AS precip_sum,
        shortwave_radiation_sum               AS shortwave_rad_sum,
        relative_humidity_2m_mean             AS humidity_mean,
        wind_speed_10m_max                    AS wind_speed_max
    FROM read_csv_auto('{weather_csv_path.as_posix()}', header = TRUE);
""")

print("Weather row count:", con.execute(
    "SELECT COUNT(*) FROM weather_chicago_daily;"
).fetchall())
con.execute("SELECT * FROM weather_chicago_daily LIMIT 5;").df()

Weather row count: [(365,)]

,date,temp_max,temp_min,wind_dir_dominant,precip_sum,shortwave_rad_sum,humidity_mean,wind_speed_max
0,2023-01-01,8.5,0.6,227,3.3,7.02,92,17.1
1,2023-01-02,4.6,-0.4,35,0.3,4.73,97,18.1
2,2023-01-03,12.7,4.2,112,13.1,2.13,98,23.6
3,2023-01-04,7.2,0.2,232,0.0,3.29,86,23.0
4,2023-01-05,0.9,-0.4,240,1.3,2.61,84,21.3

In [14]:
processed_dir = PROJECT_ROOT / "data" / "processed"
processed_dir.mkdir(parents=True, exist_ok=True)

epa_out     = processed_dir / "epa_chicago_daily_clean.csv"
weather_out = processed_dir / "weather_chicago_daily_clean.csv"

# Export EPA
con.execute(f"""
    COPY epa_chicago_daily
    TO '{epa_out.as_posix()}'
    (HEADER, DELIMITER ',');
""")

# Export weather
con.execute(f"""
    COPY weather_chicago_daily
    TO '{weather_out.as_posix()}'
    (HEADER, DELIMITER ',');
""")

epa_out, weather_out

(WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/processed/epa_chicago_daily_clean.csv'),
 WindowsPath('C:/Users/ycjia/OneDrive/Desktop/IS-477-Project/data/processed/weather_chicago_daily_clean.csv'))